@import 'global.css';

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body img{
    width: 300px;
}

body .form{
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 500px;
    width: 100%;
}

body .form .inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}

body .form .inputs ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;
}

body .form .inputs ul li{
    list-style: none;
}

body .form .inputs ul li p{
    font-size: 18px;
    font-weight: 600;
}

body .form .inputs ul li input{
    display: flex;
    width: 100%;
    padding: 18px 14px;
    border: none;
    border-radius: var(--radius);
    background-color: var(--background-button);
    outline: none;
    box-shadow: var(--shadow);
}

body .form #loginButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 18px 14px;
    border: none;
    border-radius: var(--radius);
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    box-shadow: var(--shadow);
}

body .form a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -35px;
    color: var(--primary-color);
    font-weight: 500;
}

body .footer{
    display: flex;
    margin-top: 170px;
}

body .footer p{
    font-weight: 500;
}

body .footer p a{
    color: var(--primary-color);
}