@import "global.css";

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    background-color: var(--background-color-light);
}

body .topbar{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    padding: 24px 14px;
    height: 63px;
    border: none;
    border-radius: var(--radius);
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    box-shadow: var(--shadow);
}

body .topbar a{
    color: var(--white);
    font-size: 25px;
    position: absolute;
    left: 60px;
}

body .user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

body .user img{
    width: 200px;
    height: 200px;
    border: 1px solid var(--radiobutton-color-light);
    border-radius: 50%;
}

body .user h2{
    color: var(--text-color-light);
}

body .user p{
    font-weight: 500;
    color: var(--text-color-light);
}

body .pages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    gap: 20px;
}

body .pages a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    border-radius: var(--radius);
    max-width: 500px;
    width: 100%;
    height: 63px;
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: 500;
    box-shadow: var(--shadow);
}

body .pages a .left{
    display: flex;
    align-items: center;
    gap: 20px;
}

body .pages a i{
    font-size: 20px;
}