@import 'global.css';

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

body img{
    width: 300px;
}

body h2{
    text-align: center;
    font-size: 20px;
    color: var(--primary-color);
} 

body .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;
}

body .container .input{
    width: 100%;
    max-width: 500px;
}

body .container .input p{
    font-size: 18px;
    font-weight: 600;
}

body .container .input input{
    display: flex;
    max-width: 500px;
    width: 100%;
    padding: 18px 14px;
    border: none;
    border-radius: var(--radius);
    background-color: var(--background-button);
    outline: none;
    box-shadow: var(--shadow);
}

body #resetPassword {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 18px 14px;
    border: none;
    border-radius: var(--radius);
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: var(--shadow);
}