@import 'global.css';

body.dark-mode{
    --background-color-light: #282828;
    --text-color-light: #E0E0E0;
    --border-color-light: #fff;
    --white: #E0E0E0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    background-color: var(--background-color-light);
}

body .topbar{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    padding: 24px 14px;
    height: 63px;
    border: none;
    border-radius: var(--radius);
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    box-shadow: var(--shadow);
}

body .topbar a{
    color: var(--white);
    font-size: 25px;
    position: absolute;
    left: 60px;
}

body .balance{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

body .balance h2{
    font-size: 32px;
    font-weight: 600;
    color: var(--text-color-light);
}

body .balance p{
    font-weight: 400;
    font-size: 20px;
    color: var(--text-color-light);
}

body .balance #balance{
    margin-top: -40px;
    font-size: 35px;
    font-weight: 600;
}

body .line {
    max-width: 500px;
    width: 100%;
    height: 1px;
    background-color: var(--text-color-light);
}

body .paymentMethods{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    width: 100%;
    margin-top: -40px;
}

body .paymentMethods p{
    color: var(--text-color-light);
    font-weight: 600;
    font-size: 18px;
}


body .paymentMethods a{
    display: flex;
    align-items: center;
    height: 63px;
    background-color: var(--background-button);
    padding: 5px 14px;
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    color: var(--text-color-light);
    gap: 15px;
    font-size: 16px;
    font-weight: 500;
}

body .paymentMethods a i{
    font-size: 18px;
}

body .paymentMethods button{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    height: 63px;
    padding: 18px 14px;
    border: none;
    border-radius: var(--radius);
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 50px;
    cursor: pointer;
    box-shadow: var(--shadow);
}