@import 'global.css';

body.dark-mode{
    --background-color-light: #282828;
    --text-color-light: #fff;
    --border-color-light: #fff;
    --white: #E0E0E0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    background-color: var(--background-color-light);
}

body .topbar {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    padding: 24px 14px;
    border: none;
    border-radius: var(--radius);
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    gap: 20px;
}

body .topbar a {
    color: var(--white);
    font-size: 25px;
    position: absolute;
    left: 60px;
}

body h3{
    font-size: 23px;
    text-align: center;
    font-weight: 500;
    color: var(--text-color-light);
}

body select{
    max-width: 500px;
    width: 100%;
    padding: 10px;
    border-radius: var(--radius);
    color: var(--text-color-light);
    border: 1px solid var(--border-color-light);
    background-color: var(--background-color-light);
}

body textarea{
    margin-top: -50px;
    max-width: 500px;
    width: 100%;
    height: 200px;
    padding: 10px;
    resize: none;
    border-radius: var(--radius);
    background-color: var(--background-color-light);
    border: 1px solid var(--border-color-light);
    color: var(--text-color-light);
}

body button{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    padding: 18px 14px;
    border: none;
    border-radius: var(--radius);
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 130px;
    cursor: pointer;
}