@import 'global.css';

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    height: 100%;
}

body #map{
    height: 1500px;
    max-width: 500px;
    width: 100vw;
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 1;
}

body .searchButton{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 84%;
    padding: 18px 14px;
    border-radius: var(--radius);
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    position: fixed;
    letter-spacing: 1px;
    z-index: 2;
    bottom: 95px;
}

body .searchButton a{
    text-decoration: none;
    color: var(--white);
}

body .footerMenu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    gap: 30px;
    padding: 20px 40px;
    bottom: 0px;
    max-width: 500px;
    width: 100%;
    z-index: 3;
    background-color: var(--background-button);
}

body .footerMenu a i{
    font-size: 30px;
    color: var(--black);
}