@import 'global.css';

body.dark-mode{
    --background-color-light: #282828;
    --text-color-light: #E0E0E0;
    --border-color-light: #fff;
    --radiobutton-color-light: #fff;
    --white: #E0E0E0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    background-color: var(--background-color-light);
}

body .topbar {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    height: 63px;
    padding: 24px 14px;
    border: none;
    border-radius: var(--radius);
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    gap: 20px;
    box-shadow: var(--shadow);
}

body .topbar a {
    color: var(--white);
    font-size: 25px;
    position: absolute;
    left: 60px;
}

.themes{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    width: 100%;
}

.themes .theme-option {
    max-width: 500px;
    width: 100%;
    height: 63px;
    background-color: var(--background-button);
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: var(--shadow);
    transition: border-color 0.2s, box-shadow 0.2s;
}

.themes .theme-option:hover {
    border-color: #888;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.themes .theme-option input[type="radio"] {
    /* Esconde o rádio padrão */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid var(--radiobutton-color-light);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: border-color 0.2s;
}

/* O círculo interno quando selecionado */
.themes .theme-option input[type="radio"]::before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background-color: var(--radiobutton-color-light);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    /* Começa invisível */
    transition: transform 0.2s ease-in-out;
}

/* Animação do círculo interno quando selecionado */
.themes .theme-option input[type="radio"]:checked::before {
    transform: translate(-50%, -50%) scale(1);
    /* Torna visível */
}

.themes .theme-option label {
    flex-grow: 1;
    /* Permite que o label ocupe o espaço restante */
    font-size: 1.1em;
    font-weight: bold;
    color: var(--text-color-light);
    cursor: pointer;
}