:root{
    --primary-color: #9C0D11;
    --primary-color-link: #e60910;
    --background-button: #f6f6f6;
    --white: #fff;
    --black: #000;
    --text-color-light: #000;
    --background-color-light: #fff;
    --border-color-light: #000;
    --radiobutton-color-light: #000;
    --radius: 12px;
}