@import 'global.css';

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    background-color: var(--background-color-light);
}

body .topbar {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    padding: 24px 14px;
    height: 63px;
    border: none;
    border-radius: var(--radius);
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    box-shadow: var(--shadow);
}

body .topbar a {
    color: var(--white);
    font-size: 25px;
    position: absolute;
    left: 60px;
}

body h3{
    font-size: 23px;
    text-align: center;
    font-weight: 500;
    color: var(--text-color-light);
}

body .select {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 500px;
}

body .select p{
    font-weight: 600;
    color: var(--text-color-light);
}

body .select select{
    max-width: 500px;
    width: 100%;
    padding: 10px 25px;
    border-radius: var(--radius);
    border: none;
    outline: none;
    height: 63px;
    background-color: var(--background-button);
    box-shadow: var(--shadow);
}

body .textarea{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 500px;
}

body .textarea p{
    font-weight: 600;
    color: var(--text-color-light);
}

body .textarea textarea{
    max-width: 500px;
    width: 100%;
    height: 200px;
    padding: 20px;
    resize: none;
    border-radius: var(--radius);
    border: none;
    outline: none;
    background-color: var(--background-button);
    box-shadow: var(--shadow);
}

body button{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    padding: 18px 14px;
    border: none;
    border-radius: var(--radius);
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 50px;
    cursor: pointer;
    box-shadow: var(--shadow);
}