@import 'global.css';

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    height: 100%;
    background-color: var(--background-color-light);
}

body #map{
    height: 1400px;
    max-width: 500px;
    width: 100vw;
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 1;
}

body .conectButton{
    width: 100%;
    padding: 18px 14px;
    border-radius: var(--radius);
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: var(--shadow);
}

body .footerMenu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    gap: 30px;
    padding: 20px 40px;
    bottom: 0px;
    max-width: 500px;
    width: 100%;
}

body .footerMenu a i{
    font-size: 40px;
    color: var(--text-color-light);
}