@import './global.css';

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

body img{
    width: 300px;
}

body .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

body .form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    width: 100%;
    margin-bottom: 120px;
}

body .form .inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body .form .inputs ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;
}

body .form .inputs ul li{
    list-style: none;
}

body .form .inputs ul li input{
    display: flex;
    max-width: 500px;
    width: 100%;
    padding: 18px 14px;
    border: none;
    border-radius: var(--radius);
    background-color: var(--background-button);
    box-shadow: var(--shadow);
    outline: none;
}

body .form #loginButton{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    padding: 18px 14px;
    border: none;
    border-radius: var(--radius);
    background-color: var(--primary-color);
    color: var(--white);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    box-shadow: var(--shadow);
    cursor: pointer;
    margin-top: 30px;
}

body  .container a{
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-weight: 600;
}

body .container .footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
}

body .container .footer p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    font-weight: 500;
}

body .container .footer p a{
    color: var(--primary-color);
}